# Terraform
.terraform/
.terraform.lock.hcl
.terraform.tfstate
.terraform.tfstate.*
terraform.tfstate
terraform.tfstate.backup
crash.log
override.tf
override.tf.json
*_override.tf
.terraform.tfstate.lock.info

# Sensitive / variable files
*.tfvars
*.tfvars.json
*.secret
secrets.yml
*.pem
*.key
*.crt
.env

# IDE / OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Other
.plan
*.log


# Lab02 CodeCommit local repository
Lab02/codepipeline/cfn-infrastructure-repo/

# Taskcat outputs
taskcat_outputs/
